* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}


.opening-title h1 {
    text-align: center;
    padding-top: 30px;
}

.exam_cont {
    display: flex;
    flex-wrap: wrap;
    padding-left: 90px;
    text-align: center;
}

.exam {
    width: 250px;
    height: 250px; 
    background-color: rgba(16, 149, 190, 0.15);  
    backdrop-filter: blur(5px);    
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 13px;
    border-radius: 12px;
    color: white;
    box-shadow: 2.5rem 3.75rem 3rem -3rem;
    text-align: center;
}

#pdf {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-right: 10px;
}
